/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57.75%; 
  margin: 0 auto;
}

:root{
  --primary-color:#4E9525;
  --secondary-color:#F8D341;
  --other :#fff;
  --black:#000;
}
/*=================================
  Header styling starts here
=================================*/
.header-first .wrapper {
  width: 57.75%;
  padding: 31px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list { flex-basis: 30%; }
.logo { flex-basis: 20% ; }

.icon {
  position: relative;
  text-indent: -9999px;
}

.icon::before {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  color: #4D4D4D;
  font-family: "FontAwesome";
  font-size: 11px;
  float: left;
  justify-content: center;
  text-indent: 0;
  transition: all .5s ease-in-out;
}

.facebook::before { content: "\f09a"; }
.twitter::before { content: "\f099"; }
.instagram::before { content: "\f16d"; }
.basket-ball::before { content: "\f17d"; }

.icon:hover::before{ 
  background-color: var(--primary-color);
  color: var(--other);
}

.logo-anc {
  color: var(--black);
  font-size: 22px;
  font-weight: 900;
  text-transform: capitalize;
}

.logo-span{ color: var(--primary-color); }

.search-input input{
  padding: 10px 12px;
  border: none;
  border-radius: 30px;
  position: relative;
  background: #F2F2F2;
  outline: none;
}

.search-input input::placeholder { font-size: 11px; }

.search-input{ position: relative; }

.search-input::after {
  content: "\f002";
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  align-items: center;
  background: var(--primary-color);
  color: var(--other);
  font-family: "FontAwesome";
  justify-content: center;
}

.header-second {
  padding: 16px 0;
  background-color: var(--primary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
 }
 
 .bar {
   width: 25px;
   height: 3px;
   margin: 5px;
   display: block;
   background-color: #000;
   text-indent: -9999px;
   transition: all 0.5s ease-in-out;
 }

 .bar2 { width: 13px; }

 .nav-list {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .nav-anc {
   padding-left: 14px;
   color: var(--other);
   font-size: 10px;
   font-weight: 600;
   text-transform: uppercase;
   transition: all .5s ease-in-out;
 }

 .nav-item a.active,
 .nav-item a:hover { color: var(--secondary-color); }

 .nav-item{ margin-right: 2.5%; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section start here */
.banner{
  padding: 199px 0 52px 0;
  background: url(../images/bg_1.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner-para{
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}

.banner-heading{
  padding-right: 53%;
  color: var(--other);
  font-size: 40px;
  font-weight: 900;
}

.banner-para2 {
  color: #b3b9ac;
  font-size: 12px;
}

.banner-para2::first-letter { text-transform: capitalize; }
.learn-btn {
  padding: 5px 2%;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  margin: 15px 0;
  position: relative;
  background: var(--primary-color);
  color: var(--other);
  font-size: 12px;
  transition: all .5s ease-in-out;
}

.learn-btn::before {
  content: "\f105";
  position: absolute;
  top: 31%;
  right: 7%;
  float: right;
  font-family: "FontAwesome";
  font-size: 10px;
}

.learn-btn:hover{
  background-color: var(--other);
  color: var(--primary-color);
}
/* banner section end here */
/* service section start here */
.services-section .wrapper {
  padding: 20px 0 103px;
  display: flex;
  justify-content: space-between;
}

.services-list {
  margin-top: 24px;
  flex-basis: 73.3%;
}

.service{
  display: block;
  text-indent: -9999px;
}

.services-list {
  display: flex;
  align-items: center;
  flex-basis: 73.3%;
  justify-content: space-between;
}

.quote { flex-basis: 23%; }
.service { padding-top: 13px; }

.service::before {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  float: left;
  display: flex;
  background: #F2F2F2;
  color: var(--primary-color);
  align-items: center;
  font-family: "FontAwesome";
  justify-content: center;
  text-indent: 0;
}

.icon1::before { content: "\e59a"; }
.icon2::before { content: "\f722"; }
.icon3::before { content: "\e52f"; }

.services-item {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 0#cdcdcd;
  flex-direction: column;
  flex-basis: 31%;
}

.quote-heading {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
}

.quote-title {
  padding: 7px 0 14px 0;
  color: #343434;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.services-item p {
  padding: 0 13.5% 13px 13.5% ;
  color: #777;
  font-size: 10px;
  line-height: 2;
  text-align: center;
}

.quote-para{
  padding-right: 4%;
  color: #777;
  font-size: 11px;
  line-height: 20px;
}

.quote-btn {
  padding: 8px 16px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  margin: 12px 0 16px;
  background-color: var(--primary-color);
  color: var(--other);
  font-size: 10px;
  transition: all .5s ease-in-out;
}

.quote-btn:hover{
  border: 2px solid var(--primary-color);
  background-color: var(--other);
  color: var(--primary-color);
}
/* service section end here */
/* company detail section start here */
.company-detail { background-color: #F8F9FA; }

.company-detail .wrapper {
  display: flex;
  justify-content: space-between;
}

.detain-figure {
   flex-basis: 48.5%; 
   position: relative; 
  }

.welcome-to {
   flex-basis: 45.5%;
   padding: 28px 0 42px 0; 
  }

.detain-figure::before{
  content: "\f04b";
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: 92%;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  color: var(--other);
  font-family: "FontAwesome";
  justify-content: center;
}

.welcome-sub-heading{
  color: var(--primary-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
}

.detain-figure img { height: 100%;}

.welcome-heading{
  padding-bottom: 18px 3% 0;
  color: #323333;
  font-size: 21px;
  font-weight: 600;
}

.welcome-para{
  padding-bottom: 7px;
  color: #777;
  font-size: 11px;
  line-height: 20px;
}

.detail-list {
  display: flex;
  flex-direction: column;
}

.detail-item{
  width: 100%;
  margin: 5px 0;
  display: flex;
  box-shadow: 1px 1px 10px 0 #cdcdcd;
}

.detail-link{
  width: 100%;
  padding: 16px 0 14px 18px;
  border-radius: 2px;
  position: relative;
  background-color: var(--other);
  color: var(--black);
  font-size: 12px;
  transition: all .5s ease-in-out;
}

.detail-item a.link-active,
.detail-link:hover{
  background-color: var(--primary-color);
  color: var(--other);
}

.detail-link::before{
  content: "\f061";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  float: right;
  display: flex;
  position: absolute;
  top: 16%;
  right: -13px;
  align-items: center;
  background: var(--primary-color);
  color: var(--other);
  font-family: "FontAwesome";
  font-size: 10px;
  justify-content: center;
  transition: all .5s ease-in-out;
}

a.link-active::before,
.detail-link:hover::before{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* company detail section end here */
/* contact us section start here */
.contact-us { background-color: var(--primary-color); }

.contact-us .wrapper{
  padding: 29px 0 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact { flex-basis: 48.5%; }
.contact-num{ flex-basis: 31.2%; }

.contct-heading {
  color: var(--other);
  font-size: 24px;
  font-weight: 600;
}

.contact-par {
  color: var(--other);
  font-size: 11px;
  line-height: 2.3;
}

.contact-num a {
  color: var(--secondary-color);
  font-size: 23px;
  font-weight: 600;
}
/* contact us section end here */

.testimonial .wrapper {
  padding: 75px 0 63px 0;
}

.feedback-item{
  display: none;
  flex-basis: 31%;
  flex-basis: 31%;
  box-shadow: 0px 0px 2px #f1dfdf;
}

.feedback-item:nth-child(1),
.feedback-item:nth-child(2),
.feedback-item:nth-child(3){
  display: block;
}
.test-sub-heading {
  font-size: 10px;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: 700;
}

.test-heading {
  font-size: 20px;
  color: #313131;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.feedback-lis {
  padding: 59px 0 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client > figure{
  width: 58px;
  height: 58px;
}

.client > figure img {
  height: 100%;
  border-radius: 50%;
}

.client {
  padding: 18px 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.client-name {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 500;
}

.position {
  font-size: 10px;
  text-transform: capitalize;
  color: var(--primary-color);
}

.test-para {
  padding: 10px 12% 0 6%;
  font-size: 10px;
  color: #777;
  line-height: 20px;
}

.client-detail {
  padding-left: 10px;
}

.controls {
  text-align: center;
}

.btn {
  text-indent: -9999px;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E5E5E5;
  margin: 0;
  padding: 0;
}

.btn.btn-control{
  background-color: var(--primary-color);
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  